
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}
body{
  color: #fff;
}
.container{
  width: 100%;
  height: 100vh;
  background-image: url(images/bg-img.jpg); 
  background-position: center;
  background-size: cover;
  padding-top: 35px;
  padding-left: 4%;
  padding-right: 4%;
}

nav{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a img{
  max-width: 200px;
 height: auto;
}

nav ul li{
  list-style: none;
  display: inline;
  margin: 10px ;
}
nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
   font-size: 20px;
}
nav ul li a:hover{
  color: #f9004d;
}
.content{
  margin-top: 10%;
  max-width: 600px;
}
.content h2{
  font-size: 60px
}
.content p{
  margin-top: 10px;
  line-height: 25px;
}
a{
  color: #fff;
}
.link .click:hover{
  background: transparent;
  color:#f9004d;
}






